<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>adda</title>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript"src="__PUBLIC__/js/ajaxupload.js"></script>

<script type="text/javascript">
$(function() {
	var button = $('#upload_button'), interval;
	new AjaxUpload(button,{
		action : "{:U('Upload/upload')}",
		
	});
});
</script>
</head>
<body>
	<form action=" " method="post">
		<input type="hidden" id="test" name="test" value="testValue" />
		<input type="text" name="type[image][code]" id="imagecode" size="80" value="{$data.code}" />
		<input type="button" id="upload_button" name="type[image][code]" value="上传图片" />
		<br />
		<input value="保存  " type="submit" />
	</form>
</body>
</html>