<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>上海睿渊贸易发展有限公司</title>

<include file="Public:head" />

<script>
$(document).ready(function() { 
    //Camera Jquery
    $('#camera-slide').camera({
        thumbnails: false,
        hover: false,
        pagination: false,
    });	  	
});
</script> 

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<include file="public:header" />
<foreach item="tt" name = "dataname">
    {$tt}
    <br/>
</foreach> 
<!-- slideshow start here -->
<section id="slideshow-wrapper">
    <div class="camera_wrap" id="camera-slide">
    
        <!-- slide 1 here -->
        <div data-src="__PUBLIC__/images/slideshow/bg-slide1.jpg">
            <div class="caption-type1 moveFromLeft">
                <h1>We build rock solid Responsive website</h1>
                <p>Used by thousands of creative freelancers and companies worldwide, Hyperion gives you everything you need to run your small business.</p>
                <a href="#" class="button-slide medium gray">Let's start something</a>
            </div>
            <div class="caption-type1 moveFromRight">
                <img src="__PUBLIC__/images/slideshow/slide1.png" alt="" />
            </div>
        </div>
        
        <!-- slide 2 here -->
        <div data-src="__PUBLIC__/images/slideshow/bg-slide2.jpg">
            <div class="caption-type2 moveFromTop">
                <h1>We build rock solid Responsive website</h1>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident similique sunt in culpa qui officia deserunt</p>
            </div>
            <div class="caption-type2 moveFromBottom">
                <img src="__PUBLIC__/images/slideshow/slide2.png" alt="" />
            </div>
        </div>
        
        <!-- slide 3 here -->
        <div data-src="__PUBLIC__/images/slideshow/bg-slide3.jpg">
            <div class="caption-type3 moveFromLeft">
                <img src="__PUBLIC__/images/slideshow/slide3.png" alt="" />
            </div>
            <div class="caption-type3 moveFromRight">
                <h1>Latest web technology</h1>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <img src="__PUBLIC__/images/slideshow/slide3a.png" alt="" class="html-badge" />
            </div>                
        </div>
        
        <!-- slide 4 here -->
        <div data-src="__PUBLIC__/images/slideshow/bg-slide4.jpg">                
            <div class="caption-type4 moveFromBottom">
                <img src="__PUBLIC__/images/slideshow/slide4.png" alt="" />
            </div>
        </div>   
    </div>
    <div id="slideshow-noscript"><h4>Hi, your javascript is off..!! for optimal results on this site please enable javascript in your browser</h4></div>
</section>
<!-- slideshow end here --> 
<div class="copyrights">Collect from <a href="http://www.mycodes.net/"  title="网站模板">网站模板</a></div>
<!-- featured client start here -->
<section id="featured-wrapper">
    <div id="featured-logo-list">
        <div class="row">
            <div class="two columns mobile-two mobile-view">
                <h6 class="featured-client">featured clients :</h6>
            </div>
            <div class="two columns mobile-two mobile-view">
                <img src="__PUBLIC__/images/sample-images/client1.png" alt="client-image" />
            </div>
            <div class="two columns mobile-two mobile-view">
                <img src="__PUBLIC__/images/sample-images/client2.png" alt="client-image" />
            </div>
            <div class="two columns mobile-two mobile-view">
                <img src="__PUBLIC__/images/sample-images/client3.png" alt="client-image" />
            </div>
            <div class="two columns mobile-two mobile-view">
                <img src="__PUBLIC__/images/sample-images/client4.png" alt="client-image" />
            </div>
            <div class="two columns mobile-two mobile-view">
                <img src="__PUBLIC__/images/sample-images/client5.png" alt="client-image" />
            </div>
        </div>
    </div>
</section>
<!-- featured client end here -->

<!-- maincontent start here -->
<section id="content-wrapper">
    <div class="row">
        <div class="three columns mobile-two">
            <h5>产品信息 &raquo;</h5>
            <div class="link-zoom">
                <a class="fancybox" href="__PUBLIC__/images/portfolio-big/pf-big.jpg" title="Hyperion">
                    <img src="__PUBLIC__/images/sample-images/front-img1.jpg" alt="" class="fade" />
                </a>
            </div>
        </div>
        <div class="three columns mobile-two">
            <h5> 前往1号店 &raquo;</h5>
            <div class="link-url">
                <a href="http://shop.yhd.com/dpzx/m-144765.html?glTrueReffer=https%3A%2F%2Fwww.baidu.com%2Flink%3Furl%3DTgRJHZZaBtl595USvFcB8hfMX27hy6ycX55kuhf4ChO7S0H-yPb-hPeXiL8ree0o%26wd%3D%26eqid%3Dbcd5ce320001453c000000035594fe7f&tp=16.35060_0.153.0.1.KtE1CLJ-00-2XnOQ" target="_black">
                    <img src="__PUBLIC__/images/sample-images/front-img2.jpg" alt="" class="fade" />
                </a>
            </div>
        </div>
        <div class="three columns mobile-two">
            <h5>企业环境 &raquo;</h5>
            <div class="link-more">
                <a href="about.html">
                    <img src="__PUBLIC__/images/sample-images/front-img3.jpg" alt="" class="fade" />
                </a>
            </div>
        </div>
        <div class="three columns mobile-two">
            <h5>员工风采 &raquo;</h5>
            <div class="link-video">
                <a class="fancybox" href="http://www.mycodes.net" title="Hyperion Sample Video">
                    <img src="__PUBLIC__/images/sample-images/front-img4.jpg" alt="" class="fade" />
                </a>
            </div>
        </div>
    </div>
    
    <div id="featured-wrapper2">
        <div class="row front-feature-icon">
		   <div><h4>服务理念</h4></div>
            <div class="four columns mobile-one">
                <img src="__PUBLIC__/images/sample-images/front-icon1.png" alt="" class="img-center" />
                <h5>质优价廉</h5>
                <p>薄利多销，价格合理</p>
            </div>
            <div class="four columns mobile-one">
                <img src="__PUBLIC__/images/sample-images/front-icon2.png" alt="" class="img-center" />
                <h5>种类齐全</h5>
                <p>硒鼓、墨盒、打印机、针式打印机、扫描仪品种齐全，公司与多家零售商和代理商建立了长期稳定的合作关系。</p>
            </div>
            <div class="four columns mobile-one">
                <img src="__PUBLIC__/images/sample-images/front-icon3.png" alt="" class="img-center" />
                <h5>送货上门</h5>
                <p>上海市地区送货上门，其它城市快递送货上门。</p>
            </div>
		   
        </div>
    </div>
    
    
</section>
<!-- maincontent end here -->


<include file="Public:footer" />
       	


</body>
</html>