<!-- header start here -->
<header>
    <div id="main-wrapper">
    
        <!-- top-social start here -->
        <div id="top-social">
            <a class="trigger" href="#"></a>
            <div class="social-panel">
                <ul>
                    <li><a href="#"><img src="__PUBLIC__/images/socials/social10.gif" alt="" /></a></li>
                    <li><a href="#"><img src="__PUBLIC__/images/socials/social32.gif" alt="" /></a></li>
                    <li><a href="#"><img src="__PUBLIC__/images/socials/social9.gif" alt="" /></a></li>
                    <li><a href="#"><img src="__PUBLIC__/images/socials/social15.gif" alt="" /></a></li>
                    <li><a href="#"><img src="__PUBLIC__/images/socials/social25.gif" alt="" /></a></li>
                </ul>
            </div>
        </div>            
        <!-- top-social end here -->
        
        <!-- logo start here -->
        <div id="logo">
            <a href="index.html"><img src="__PUBLIC__/images/logo.png" alt="mainlogo" /></a>
        </div>
        <!-- logo end here -->
        
        <!-- mainmenu start here -->
        <nav id="mainmenu">
            <ul id="menu">
                <li class="selected dropdown"><a href="index.html">home</a>
                	<ul> 
                        <li><a href="index-layout2.html"><span>-</span> home layout 2</a></li>
                        <li><a href="index-layout3.html"><span>-</span> home layout 3</a></li>
                        <li><a href="index-layout4.html"><span>-</span> home layout 4</a></li>    	
                    </ul>
                </li>
                <li><a href="about.html">about</a></li>
                <li><a href="services.html">services</a></li>
                <li class="dropdown"><a href="#">portfolio</a>
                    <ul> 
                        <li><a href="portfolio-2col.html"><span>-</span> portfolio 2 column</a></li>
                        <li><a href="portfolio-3col.html"><span>-</span> portfolio 3 column</a></li>
                        <li><a href="portfolio-4col.html"><span>-</span> portfolio 4 column</a></li>    	
                    </ul>
                </li>
                <li><a href="blog.html">blog</a></li>
                <li><a href="contact.html">contact</a></li>
                <li class="dropdown"><a href="#">pages</a>
                    <ul> 
                        <li><a href="column.html"><span>-</span> column page</a></li>
                        <li><a href="tables.html"><span>-</span> table page</a></li>
                        <li><a href="button-list.html"><span>-</span> button &amp; list page</a></li>
                        <li><a href="typhography.html"><span>-</span> typhography page</a></li>
                        <li><a href="testimonials.html"><span>-</span> testimonials page</a></li>  
                        <li><a href="pricing.html"><span>-</span> pricing page</a></li>
                        <li><a href="faq.html"><span>-</span> faq page</a></li>
                        <li><a href="single.html"><span>-</span> single page</a></li>  
                        <li><a href="fullwidth.html"><span>-</span> fullwidth page</a></li>
                        <li><a href="404.html"><span>-</span> 404 page</a></li>                           	
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- mainmenu end here -->
        
    </div>
</header>
<!-- header end here -->